@{
    ViewData["Title"] = "Home Page";
}
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap" rel="stylesheet">

<div style="align-content:center;align-items:center;">
    <img src="~/images/TestNew.png"
         class="img-responsive"
         alt="Image"
         id="t-image"
         style="display:block;margin:auto;margin-top:100px;align-items:center;" />
</div>
